# This config contains debug settings for additional prod training
dataset_dir: "dataset/preprocessed/"
ImageEncoder: 
    img_size: 224
    patch_size: 16
    in_channels: 3
    embed_dim: 768
    num_layers: 8
    num_heads: 12
    ffn_dim: 3072
    dropout: 0.1
    ffn_dropout: 0.2

LanguageDecoder: 
    img_feature_shape: [196, 768]
    embed_dim: 512
    num_layers: 4
    num_heads: 8
    ffn_dim: 2048
    dropout: 0.1
    ffn_dropout: 0.2

DataLoaderTrain: 
    batch_size: 256
    add_augmentation: True

DataLoaderVal:
    batch_size: 256
    add_augmentation: False

TrainerCaptioning:
    lr_start: 3.0e-5
    lr_end: 1.0e-6
    wd_encoder: 0.05
    wd_decoder: 0.01
    train_num_steps: 60000
    warm_up_pct: 0.1
    frozen_enc_pct: 0.3
    grad_clip: 1.0
    sample_every: 500
    save_every: 5000
    eval_every: 1000
    results_folder: "results/captioning"
    use_amp: True
    use_latest_checkpoint: 2 # Load in only the model weights
    eps: 0.10
    max_len: 50
